#wrapper {
  outline: 2px solid #E0E0E0;
  width: 800px;
  max-width: 800px;
  max-height: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.row {
}

.square {
  margin: 0 0;
  padding: 0 0;
  background: #FFFFFF;
  float: left;
  display: inline-block;
}
